@page "/lazycomponent"

<h1>Lazy loaded component</h1>

<BlazorLazyLoad.LazyLoadComponentPlaceHolder _Assembly="LazyLoaded" _Type="LazyLoadedArea.Shared.DifficultComponent" Title="Pretty difficult component worth to be lazy loaded" />